.hero-wrapper {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  .hero {
    padding: 1rem;
    backdrop-filter: blur(3px);
    .card {
      display: flex;
      flex-flow: column;
      width: 90%;
      max-width: 60rem;
      aspect-ratio: 1;
      padding: 1rem 2rem;
      border-radius: 10px;
      margin: 0 auto;
      .heading {
        font-weight: 300;
        letter-spacing: 1px;
        margin-bottom: 2rem;
        color: white;
      }
      .media {
        width: 30rem;
        margin: auto;
        img {
          max-width: 100%;
          /* aspect-ratio: 16/9; */
          border-radius: 10px;
          object-fit: cover;
          // box-shadow: 15px 15px 2px rgba(245, 245, 220, 0.151);          
        }
      }
      .description {
        text-align: justify;
        margin-top: 1rem;
      }
      .title {
        line-height: 1.2em;
      }
      .explanation {
        margin-top: 1rem;
        color: rgba(245, 245, 245, 0.856);
      }
    }
  }
}
